.o-buscador-container {
    margin-top: -4px;
    background-color: #D7DDE9;
    width: auto;
    height: 10rem;
    padding-top: 5rem;
    padding-left: 29rem;
    padding-right: 29rem;
}

.o-buscador {
    width: auto;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 30rem;
    box-shadow: 6px 5px 20px -6px rgba(0,0,0,0.47);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.o-filtro-buscador {
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
    margin-right: 2rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    color: #919191;
}

.o-down-icon {
    color: #919191;
    align-self: center;
    margin-left: 2rem;
}

.o-separador {
    background-color: #E0E0E0;
    width: 2px;
    height: 100%;
}

.o-text-buscador {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.o-input-search{
    border: none;
    width: 38rem;
    height: 5rem;
    margin-left: 1rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
}

.o-search-icon {
    color: #26394D;
}