.o-card{
    width: 280px;
	height: 360px;
	border-radius: 15px;
    background: white;
    padding: 0;
    display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0,0,0, 0.5);
    margin-left: 2rem;
    margin-right: 2rem;
}

.o-card:hover{
    transform: translateY(5px)
}

.o-card:hover::before{
    opacity: 1
}



.o-info-card{
    color: white;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    z-index: 3;
    margin-left: 1rem;
}

.o-buttoncard{
    padding: 0.6rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background: white;
	color: black;
	font-weight: bold;
    cursor: pointer;
    position: absolute;
    transition: 0.4s ease;
    transform: translateX(10rem) translateY(-3rem)
}

.o-buttoncard:hover{
    background: black;
	color: white
}

.o-card:hover .o-info-card{
    opacity: 1;
    transform: translateY(0px);
}

