.o-nav{
  background-color: #26394D;
}
.o-banner{
  width: 100%;
}
.o-img-banner{
  width: 100%;
}
.o-footer{
  background-color: #3c4d5f
}
.o-redes{
  background-color: #26394D;
}

.o-ofertas.o-ofertas-app {
  display: flex;
  width: 62%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.o-container-app {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}